* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular;

}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

body {
    background-color: black;
    color: white;
}


@font-face {
    font-family: regular;
    src: url(./GeneralSans-Regular.otf);
}


@font-face {
    font-family: medium;
    src: url(./GeneralSans-Medium.otf);
}


#mousecursor{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

#nav {
    width: 100%;
    font-family: regular;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

#nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#main #hero {
    width: 100%;
}

#hero {
    width: 100%;
    height: 100vh;
    padding: 0px 20px;
    position: relative;
}

#Main-Heading {
    width: 100%;
    margin-left: 2rem;
    margin-top: 50px;
    line-height: 0.9;
    width: fit-content;
}

#Main-Heading h1 {
    font-size: 10vw;
    font-family: regular;
    text-transform: uppercase;
    letter-spacing: 7px;
    opacity: .8;
}


#Main-Heading h1:nth-child(2) {
    margin-left: 7vw;
}

#Main-Heading h5 {
    float: right;
    text-transform: uppercase;
}

#main-content h4 {
    font-size: 1vw;
    width: 100%;
}

#main-content {
    width: 100%;
    margin-top: 80px;
    text-align: right;
}


#bottom-menu {

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 20px;
    left: 0;
    right: 0;
}

.one,
.two,
.three {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.three i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #878887;
    border-radius: 50%;
}

.three {
    padding: 40px;
}


#section2 {
    width: 93%;
    
    margin: auto;
    height: 100vh;

}

.elem h1 {
    text-transform: uppercase;
    font-family: regular;
    font-size: 4rem;
    color: aliceblue;

}

.elem {
    width: 100%;
    padding: 2rem 0rem;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    display: flex;
    justify-content: space-between;
    position: relative;

}


.last-elem {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);

}


.elem img {
    top: -5rem;
    position: absolute;
    width: 20rem;
    display: none;
    z-index: 100;
    transform: translate(-50% , -50%);   
     pointer-events: none;

}


#client {
    margin-top: 10rem;

    width: 100%;
    overflow: hidden;

}


.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    gap: 8rem;
    margin-bottom: 3rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2rem 0rem;
    opacity: .7;
    animation: scroll 50s linear infinite;


}

.slider img {
    object-fit: cover;
    width: 150px;
    flex-shrink: 0;


}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-20%);
    }
}

#about{
    display: flex;
        margin: 10rem 0rem ;
 padding-left: 25rem;
    align-items: center;
    gap: 2rem;
    font-family: regular;

}

#about img{
    width: 15rem;
}

.content h3{
    opacity: .7;
    font-size: 0.9rem;
    
}
.content{
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.content button{
    width: fit-content;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.7rem 1rem;
    border-radius: 70%;
    color: white;
    cursor: pointer;
}


#subcribe{
display: flex;
flex-direction: column;
gap: 0.5rem;
text-transform: uppercase;
    padding: 2rem;
    font-family: regular;
}

#subcribe h3{
    font-size: 0.9rem;
}

#subcribe h2{
    font-size: 1rem;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.left{
    display: flex;
       align-items: center;
       gap: 1.5rem;

}

.right{
    display: flex;
       align-items: center;
       gap: 1.5rem;


}