* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular;

}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

body {
    background-color: black;
    color: white;
}


@font-face {
    font-family: regular;
    src: url(./GeneralSans-Regular.otf);
}


@font-face {
    font-family: medium;
    src: url(./GeneralSans-Medium.otf);
}

#nav {
    width: 100%;
    font-family: regular;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

#nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#main #hero {
    width: 100%;
}

#hero {

    padding: 0px 20px;
}

#Main-Heading {
    width: 100%;
    margin-left: 2rem;
    margin-top: 50px;
    line-height: 0.9;
    width: fit-content;
}

#Main-Heading h1 {
    font-size: 10vw;
    font-family: regular;
    text-transform: uppercase;
    letter-spacing: 7px;
    opacity: .8;
}


#Main-Heading h1:nth-child(2) {
    margin-left: 7vw;
}

#Main-Heading h5 {
    float: right;
    text-transform: uppercase;
}

#main-content h4 {
    font-size: 1vw;
    width: 100%;
}

#main-content {
    width: 100%;
    margin-top: 80px;
    text-align: right;
}


#bottom-menu {

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 20px;
    left: 0;
    right: 0;
}

.one,
.two,
.three {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.three i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #878887;
    border-radius: 50%;
}

.three {
    padding: 40px;
}


